torch
torchaudio
torchvision
transformers
datasets[audio]
descript-audiotools
tensorboard
ray
einops
pre-commit
jiwer
whisper-normalizer
webdataset
rootutils
accelerate

litgpt[all]
--extra-index-url https://storage.googleapis.com/libtpu-releases/index.html
--extra-index-url https://storage.googleapis.com/libtpu-wheels/index.html
torch_xla[tpu]~=2.6.0
